<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="MySqlConnection" 
             connectionString="server=localhost;user=root;password=AtesBebis_20;database=rider_dbb;" 
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>